﻿@using Datwendo.OnePage.Models

@model OnePagePart

@T("Text") <br />
@if(!string.IsNullOrEmpty(Model.Text)) {
    <div id="OnePage" class="OnePage">
        @Model.Text
    </div>
}
else {  @T("default to Settings")
}
