﻿@using Datwendo.OnePage.Models
@using Orchard.ContentManagement
@using Orchard.Environment.Descriptor.Models
@using Orchard.Localization
@using System.Globalization


@model OnePageSettingsPart

@{
    var shellDescriptor = WorkContext.Resolve<ShellDescriptor>();
    var currentCulture = CultureInfo.GetCultureInfo(WorkContext.CurrentCulture);
}


<script type="text/javascript">
    var mediaPickerEnabled = @(shellDescriptor.Features.Any(x => x.Name == "Orchard.MediaPicker") ? "true" : "false");
    var mediaLibraryEnabled = @(shellDescriptor.Features.Any(x => x.Name == "Orchard.MediaLibrary") ? "true" : "false");
    var directionality = '@WorkContext.GetTextDirection((IContent)Model.ContentItem)';
    var language =  '@currentCulture.Name.Replace('-', '_')';
    var autofocus = true;
</script>

@{
    Script.Require("OrchardTinyMce");
    Script.Require("jQueryColorBox");
    Style.Require("jQueryColorBox");
}
<h1>@T("OnePage parameters")</h1>
<fieldset>
    @Html.LabelFor(m => m.OperationMode, T("Operation Mode"))
    @Html.CheckBoxFor(m => m.OperationMode)
    <span class="hint">@T("Uncheck to enter maintenance mode")</span>
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.FilterAllUrls, T("Filter all urls"))
    @Html.CheckBoxFor(m => m.FilterAllUrls)
    <span class="hint">@T("When in maintenance mode, check this to reroute any request for the site to the home page")</span>
</fieldset>
<fieldset>
    <label for="Text">@T("Content of the OnePage displayed in maintenance mode")</label>
    @Html.TextArea("Text", (string)Model.Text, 25, 80,
     new Dictionary<string, object> {
        {"class", "html tinymce"},
        {"data-mediapicker-uploadpath",""},
        {"data-mediapicker-title",T("Insert/Update Media")},
        {"style", "width:100%"}
     })
</fieldset>