﻿@using Datwendo.OnePage.Models
@using Orchard.ContentManagement
@using Orchard.Environment.Descriptor.Models
@using Orchard.Localization
@using System.Globalization


@model OnePagePart

@{
    var shellDescriptor = WorkContext.Resolve<ShellDescriptor>();
    var currentCulture = CultureInfo.GetCultureInfo(WorkContext.CurrentCulture);
}


<script type="text/javascript">
    var mediaPickerEnabled = @(shellDescriptor.Features.Any(x => x.Name == "Orchard.MediaPicker") ? "true" : "false");
    var mediaLibraryEnabled = @(shellDescriptor.Features.Any(x => x.Name == "Orchard.MediaLibrary") ? "true" : "false");
    var directionality = '@WorkContext.GetTextDirection((IContent)Model.ContentItem)';
    var language =  '@currentCulture.Name.Replace('-', '_')';
    var autofocus = true;
</script>

@{
    Script.Require("OrchardTinyMce");
    Script.Require("jQueryColorBox");
    Style.Require("jQueryColorBox");
}
<fieldset>
    <label for="Text">@T("Content of the OnePage displayed in maintenance mode")</label>
    @Html.TextArea("Text", (string)Model.Text, 25, 80,
     new Dictionary<string, object> {
        {"class", "html tinymce"},
        {"data-mediapicker-uploadpath",""},
        {"data-mediapicker-title",T("Insert/Update Media")},
        {"style", "width:100%"}
     })
    <span class="hint">@T("Let it empty to use the default value in settings")</span>
</fieldset>